.react-datepicker {
  border-radius: 0;
  width: 315px;
}
.react-datepicker-popper[data-placement="bottom-end"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement="top-end"] .react-datepicker__triangle {
  display: none;
}
.react-datepicker__header {
  width: 315px;
  background-color: #fff;
}
.react-datepicker__current-month {
  color: #666;
  font-weight: 300;
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
}
.react-datepicker__navigation {
  top: 15px;
}
.react-datepicker__day-names {
  border-top: 1px solid #d9d9d9;
}
.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-evenly;
}
.react-datepicker__day-name:first-child {
  color: red;
}
.react-datepicker__day-name:last-child {
  color: rgb(67, 67, 212);
}
.react-datepicker__week .react-datepicker__day {
  font-size: 17px;
  width:30px;
  height:30px;
}
.react-datepicker__week .react-datepicker__day:first-child {
  color: rgb(226, 57, 57);
}
.react-datepicker__week .react-datepicker__day:last-child {
  color: rgb(67, 67, 212);
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  opacity: 0.3;
}
.react-datepicker__day--today {
  position: relative;
}
